<nav
  class="navbar shadow-sm sticky-top navbar-expand-lg navbar-light bg-white py-3"
>
  <div class="container px-5">
    <!-- Logo -->
    <a class="navbar-brand" href="index.html">
      <span class="fw-bolder text-primary">ClubVerse</span>
    </a>

    <!-- Toggler Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="clubs.html">Clubs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>

      <!-- Login and Sign-Up Buttons -->
      <div class="d-flex">
        <button
          class="btn btn-outline-primary me-2"
          onclick="location.href='login.html'"
        >
          Login
        </button>
        <button class="btn btn-primary" onclick="location.href='register.html'">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</nav>
